#companyImgSection {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  height: auto;
  justify-items: center;
  color: white;
}

.backdrop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.backdrop:hover {
  background-color: rgba(255, 0, 0, 0.4);
  transition: all 0.2s;
}

/* .part > div {
  position: absolute;
  bottom: 1rem;
  left: 0.3rem;
  color: white;
  width:100%;
  
} */
/* response design will be added here. */
/* .response-display {
  
} */

.part1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("/src/assets/CompanyImg1.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 15rem;
}

.part2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("/src/assets/CompanyImg2.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 15rem;
}

.part3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("/src/assets/CompanyImg3.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 15rem;
}
.part4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("/src/assets/CompanyImg4.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 15rem;
}

#backgroundpattern {
  background-image: url("/src/assets/pattern@2x.png");
  background-repeat: repeat-y;
}

div.companyCard {
  display: flex;
  justify-content: space-evenly;
  height: 26.25rem;
  margin: 3rem 0;
  padding: 0 5rem;
}

div.card {
  background-color: white;
  text-align: left;
  width: 21.625rem;
  height: 14.375rem;
  /* overflow: hidden; */
}

.card > img {
  width: 100%;
}

.card > img:hover {
  transform: scale(1.1);
  transition: 0.2s all;
}
.card p.sub-title,
.card a {
  color: red;
  margin: 1rem 0;
}

.card-body {
  background-color: white;
  padding: 1rem;
}

.ourPartners {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 2rem;
 
}

.partner {
  width: 10rem;
  height: auto;
}
